.square {
    background: red;
    color: white;
    width: 120px;
    height: 120px;
    font-size: 24px;
    border: 1px solid black;
    padding: 4px;
    margin: 10px 5px 20px 40px; 
    display: inline-block;
}

.square1 {
    /* margin-bottom: 20px; */
}

.square2 {
    background: green;
    /* margin-top: 10px; */
}